<%- include('./admin-includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">

<body>
    <%- include('./admin-includes/navigation.ejs') %>
    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form  class="product-form" action="/<%= path %>" method="POST">
            <div class="form-control">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
            </div>
            
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>

            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>

            <div class="form-control">
                <label for="confimPassword">Confirm Password</label>
                <input type="password" name="confimPassword" id="confimPassword">
            </div>
            <button class="btn" type="submit">Add Teacher</button>
        </form>
    </main>