<%- include('./admin-includes/head.ejs'); %>
<%- include('./admin-includes/navigation.ejs'); %>

<div class="col py-3">
    
</div>


<!-- The following two div endings is for include the prev div in the bigger div of navigation.ejs -->
    </div>
</div>

  </body>
</html>

