<%- include('./admin-includes/head.ejs') %>
<%- include('./admin-includes/navigation.ejs') %>

<div class="col py-3">
    <form class="" action="/courses-dash" method="POST">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="searchChoice" id="active" value="true">
            <label class="form-check-label" for="flexRadioDefault2">
              Active
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="searchChoice" id="non-active" value="false">
            <label class="form-check-label" for="flexRadioDefault2">
              Non Active
            </label>
          </div>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="container" style="padding: 1rem;">
        <% if (searchResult) { %>
            <ul class="list-group">
                <% for (let course of courses) { %>
                    <li class="list-group-item"><a href="#"><%= course.name %></a></li>
                <% } %>
            </ul>
        <% } %>
      </div>
      <a href="/add-course" class="btn btn-outline-success">Add new course to the Network</a>
</div>
</body>