<%- include('../includes/head.ejs') %>
</head>
<body>
    <!-- <%- include('../includes/navigation.ejs') %> -->
    <form action="/add-course" method="POST">
        <div>
            <label for="name"> Course Title</label>
            <input type="text" name="name" id="name">
        </div>
        <!-- NEED TO SEND MY AVAILABLE TEACHERS FROM THE BACK -->
        <div>
            <label for="teacher"> Course Instructor</label>
            <input type="text" name="teacher" id="teacher">
        </div>
        <div>
            <label for="session"> Course session</label>
            <input type="text" name="session" id="session">
        </div>
        <div>
            <label for="name"> Course Description</label>
            <input type="text" name="description" id="description">
        </div>
        <div>
            <label for="name"> Price per lecture</label>
            <input type="number" name="price" id="price">
        </div>
        <button type="submit">Add Course</button>
    </form>


<%- include('../includes/end.ejs') %>